
.navbar.navbar-default.navbar-fixed-top .nav-header {width: 225px;padding-left: 15px;height: 66px;-webkit-transition: 0.4s ease;-moz-transition: 0.4s ease;transition: 0.4s ease;overflow: hidden;}
.wrapper.theme-2-active .navbar.navbar-default.navbar-fixed-top.header-container .mobile-only-brand {background: #79a8ff;}
.navbar.navbar-default.navbar-fixed-top .nav-header .logo-wrap {width: 225px;padding-top: 19px;}
.navbar.navbar-default.navbar-fixed-top .nav-header .logo-wrap .brand-img {margin-right: 10px;position: relative;top: 3px;}
.wrapper.theme-2-active .navbar.navbar-default.navbar-fixed-top .nav-header .logo-wrap .brand-text {display: inline-block;color: #212121;font-size: 21px;text-transform: capitalize;opacity: 1;visibility: visible;}

.wrapper.theme-2-active .navbar.navbar-default.navbar-fixed-top.header-container {background: #fafafa;border-bottom: 0px solid #79a8ff;}
.wrapper.theme-2-active .navbar.navbar-default.navbar-fixed-top.header-container .mobile-only-brand {background: #79a8ff;}
.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a {display: block;padding: 0px 0px !important;}
.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li {margin-right: 10px;margin-top: 12px;margin-bottom: 12px;}
.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.active > a {background: transparent !important;}

.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a .tb-icon{font-size: .8rem;color: #ffffff;display: inline-block;text-transform: capitalize;box-sizing: border-box;line-height: 1;background:#667bde;width:50px;height:50px;line-height:50px;border-radius:50%;vertical-align:middle;margin-right:-30px;position:relative;z-index:2;}
.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a .fa {color: white !important;font-size: 1.2rem;line-height:50px;}

.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a .tb-text{font-size: 1rem;color: #222222;display: inline-block;text-transform: capitalize;box-sizing: border-box;line-height: 1;background:#ffffff;border:2px solid #667bde;min-width:150px;padding:7px 0px;border-radius:20px;vertical-align:middle;padding-left:25px;padding-right:15px;}


.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a:active , .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a:focus, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a:hover {background: transparent;color: #222222; }
.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a:active  .tb-text, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a:focus .tb-text, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li > a:hover .tb-text{background: #cdd4f5;color: #253375;}
.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.active > a, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.open > a {background: transparent;color: #222222; }
.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.active > a .tb-text, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.open > a  .tb-text{background: #cdd4f5;color: #253375; }
.navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.active > a:active, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.active > a:focus, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.active > a:hover, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.open > a:active, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.open > a:focus, .navbar.navbar-default.navbar-fixed-top.header-container .nav-pills > li.open > a:hover {background: transparent;color: #222222;}

.resizeables-parent{background: rgb(255, 255, 255) ;height: calc(100% - 122px);display: flex;flex-direction: column;}
.rf-edit-screen-container{overflow: hidden auto;flex-direction: column;flex: 1 0 auto;display: flex;}
.rf-container{display: flex;width: 100%;background: #ffffff;}
@media (min-width: 1024px){
.rf-container {flex-direction: row;align-items: stretch;}
}
.rf-container .side-1 {padding: 2rem 0px 0px;display: flex;flex-direction: column;width: 100%;order: 2;}
@media (min-width: 1024px){
.rf-container .side-1 {order: 1;max-width: 40rem;flex: 0 0 50%;}
}
.rf-container .side-2 {padding-top: 1rem;position: relative;display: flex;align-items: center;justify-content: center;order: 1;flex: 0 0 auto;}
@media (min-width: 1024px){
.rf-container .side-2  {order: 2;flex: 1 0 50%;}
}
.rf-container .side-2 .slider-for {box-shadow: 0px 0px 15px 0px #667bde;border:1px solid #667bde;}
.rf-container .side-2 .side-2-preview {max-width: 90vmin;width: 100%;padding-top: 1rem;}
/* .screen-areas{flex: auto;border-top: 0;border-bottom: 0;padding: 2.5rem;overflow-y: auto;animation-name: appearLeft;animation-duration: 100ms;animation-iteration-count: 1;animation-timing-function: ease-in-out;background-color: white;position: relative;overflow: hidden auto;}
 */.screen-areas .header-project-title {padding: 0.5rem;display: flex;justify-content: space-between;align-items: center;}
.rf-text-edit-container {flex: 2;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;max-width: 480px;}
.rf-text-edit-container .rf-text-edit-not-editing {display: flex;align-items: center;}
.rf-text-edit-container .rf-text-edit-not-editing .rf-text-edit-content {user-select: none;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-weight: 400;font-size: 1.222rem;color: rgb(84, 95, 126);display: inline-block;text-transform: initial;}
.rf-text-edit-container .rf-text-edit-not-editing .rf-text-edit-icon {user-select: none;margin-left: 0.5rem;font-size: 1.2rem !important;color: rgb(84, 95, 126);}

/* .left-side-box{flex: auto;width:100%;}
 */
 .left-side-box .box-header{min-height:50px;background:#667bde;display: flex;padding: 0 2.5rem;flex: 0 0 auto;}
.left-side-box .box-body {width:100%;background:#dadff7;position: relative;}
@media (min-width: 1024px){
.left-side-box .box-body {flex: 1;overflow-y: auto;border-radius: 1px;}
}
.left-side-box .box-body .content-scroll{padding: 1.875rem;}
@media (min-width: 1024px){
.left-side-box .box-body .content-scroll {position: absolute;top: 0;left: 0;width: 100%;flex: 1;}
}
.left-side-box .box-footer.btn-action {grid-template-columns: 1fr 1fr;}
.left-side-box .box-footer{padding:15px 15px;background:#667bde;display: grid;align-items: center;flex: 0 0 auto;position: relative;}
.box-footer .btn{margin-right:10px;}
.left-side-box .box-footer.btn-action .btn{letter-spacing:2px;font-weight: 600;font-size: 12px;}
.left-side-box .box-footer.btn-action .btn-white{background:#ffffff;border-color:#ffffff !important;color:#212121 !important;border-width:0px;}

.rf-container .side-2 .btn-action .btn{margin-right:10px;letter-spacing: 2px;font-weight: 600;font-size: 12px;}

.screen-areas .rf-areas-category {margin-bottom: 1rem;}
.screen-areas .rf-areas-container {user-select: none;display: flex;align-items: center;margin-bottom: 1rem;}
.screen-areas .rf-areas-container .rf-areas-container-text{font-weight: 400; font-size: 1.16667rem; color: rgb(54, 63, 90); display: inline-block; text-transform: initial;}

.text-area-handler {padding-bottom: 16px;}
.area-container {display: flex;align-items: center;position: relative;}
.rf-advanced-input-container {width: 100%;}
.rf-advanced-input-container .input-container {display: flex;height: 48px;align-items: center;background: #ffffff;justify-content: space-between;box-shadow: 0 3px 6px 0 rgba(0, 82, 224, 0.08);}
.rf-advanced-input-container .input-container .advanced-input {padding-left: 20px;padding-right: 5px;border: none;width: 100%;height: 46px;font-size: 16px;color: #363f5a;line-height: 22px;}
.rf-advanced-input-container .textarea-container {display: flex;height: auto;align-items: center;background: #ffffff;justify-content: space-between;box-shadow: 0 3px 6px 0 rgba(0, 82, 224, 0.08);border-radius:5px;}
.rf-advanced-input-container .textarea-container .advanced-textarea {padding-left: 15px;padding-right: 5px;border: none;width: 100%;height: 50px;font-size: 16px;color: #363f5a;line-height: 22px;resize: vertical;border-radius:5px;}
.rf-advanced-input-container .hint-container {display: flex;margin-top: 5px;justify-content: space-between;align-items: center;}
.rf-advanced-input-container .hint-container .font-container {display: flex;align-items: center;}
.rf-advanced-input-container .hint-container .fonts {font-size: 12px !important;cursor: pointer;font-weight: 400;color: rgb(110, 118, 142);display: inline-block;text-transform: initial;}
.rf-advanced-input-container .hint-container .font-scale {font-size: 12px !important;padding: 0 10px;cursor: pointer;font-weight: 400;color: rgb(110, 118, 142);display: inline-block;text-transform: initial;}
.rf-advanced-input-container .hint-container .hint_text {font-size: 10px !important;font-weight: 400;color: rgb(110, 118, 142);display: inline-block;text-transform: initial;}


.progrees-bar-container {display: flex;justify-content: space-around;position: relative;}
.progrees-bar-container .main-progress-bar {width: 100%;background-color: #eef5ff;border-radius: 20px;height: 20px;display: flex;flex-direction: row;box-shadow: 0px 1px 5px rgba(102, 122, 221,0.5);border: 1px solid #ccd2e3;}
.animated-list {width: 100%;display: flex;}
.span {box-sizing: border-box;font-size: 0.875rem;margin: 0;text-align: left;display: inline-block;}
.progrees-bar-container .video-dur-container .video-duration {color: #545f7e;font-weight: 300;margin: 0px 0 0 5px;font-size: 15px;user-select: none;}

.music-player-container {background-color: #f5fafe;display: flex;flex-direction: column;padding: 12px 5px 12px 31px;margin-top: 10px;box-shadow: 0px 1px 5px rgba(102, 122, 221,0.5);border: 1px solid #ccd2e3;}

.mute-project-sound-container {display: flex;justify-content: flex-start;align-items: center;width: 100%;z-index: 3;}
.music-player-container .mute-project-sound-container {justify-content: flex-end;padding-right: 10px;}

.music-player-container .rf-music-player-container {display: flex;align-items: center;}
.music-player-container .m-player-element {margin-right: 20px;}
.music-player-container .m-player-element.music-info {width: 250px;}
.music-player-container .m-player-element.music-info .selected-folder-name {margin-bottom: 5px;}
.music-player-container .m-player-element.music-info .selected-folder-name .folder-text {font-size: 12px !important;}
.music-player-container .m-player-element.music-info .playing-track-title {font-size: 16px;color: #545f7e;font-weight: 300;max-width: 250px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

.music-body {display: flex;margin-top: 8px;}
.music-body .upload-music-container {margin-right: 15px;border: 1px solid #eef5ff;display: flex;flex-direction: column;flex: 1;box-shadow: 0px 1px 5px rgba(102, 122, 221,0.5);border: 1px solid #ccd2e3;}
.music-renderer-container {overflow-y: auto;width: 100%;}
.music-body .music-renderer-container {flex: 3;border: 1px solid #eef5ff;box-shadow: 0px 1px 5px rgba(102, 122, 221,0.5);}
.music-body .music-lib-label {width: 100%;padding: 4px 18px;background: #eef5ff;}

.music_panel-container {border-bottom: solid 1px #eef5ff;padding: 10px 0;position: relative;align-items: center;display: flex;}
.music_panel-container.playing-sound-item {background-color: #eef5ff;}
.music-panel-item-clickable-container {display: flex;flex-grow: 1;align-items: center;}

.audio-player-btn {width: 40px;height: 40px !important;background-color: transparent !important;display: inline-flex !important;justify-content: center;align-items: center;margin-left: 8px !important;}
.music_panel-container .audio-component-container {display: flex;justify-content: space-between;flex-grow: 1;padding: 0 0.5rem;}
span.truncate {overflow: hidden;text-overflow: ellipsis;}
.music_panel-container .song-title-width {max-width: 480px;}
span.truncate.singleLine {white-space: nowrap;}
.audio-duration{font-weight: 300;font-size: 1rem;color: rgb(84, 95, 126);display: inline-block;text-transform: initial;}
.btns-bar {display: flex;align-items: center;}
.audio-btn {width: 36px;}
.audio-btn.action {margin-right: 5px !important;}
.music-body .music-lib-label {width: 100%;padding: 4px 18px;background: #eef5ff;}

.upload-music-container .upload-your-music-voice {background-color: transparent !important;border-bottom: 1px solid #eef5ff !important;height: 4.2rem !important;line-height: 4.2rem !important;border-radius: 2px;overflow: hidden;background-color: rgb(92, 173, 94);text-align: center;cursor: pointer;position: relative;}
.upload-your-music-voice input[type="file"]{opacity:0;width:100%;position:absolute;left:0px;top:0px;height:100%;z-index: 1;cursor: pointer;}
.upload-your-music-voice i{vertical-align: middle;margin-left: 12px;margin-right: 0px;font-size: 1rem;color: rgb(56, 125, 255);}
.labelUPmc{position: relative; padding-left: 8px; padding-right: 16px; vertical-align: middle; letter-spacing: 0px; text-transform: none; font-weight: 500; font-size: 14px; display: inline-block;cursor: pointer;}
.labelUPmc span{font-weight: 400; font-size: 1rem; color: rgb(56, 125, 255); display: inline-block; text-transform: initial;}

.music-body .upload-music-container .uploaded-mus-med-lib-container {display: flex;flex-direction: column;}

.music-body .upload-music-container .uploaded-mus-med-lib-container .uploaded-music{background-color: transparent !important;
margin: 0 15px !important;display: flex !important;align-items: center;display: inline-block;cursor: pointer;text-decoration: none;margin: 0px;padding: 0px;outline: currentcolor none medium;font-size: inherit;font-weight: inherit;position: relative;height: 3.5rem;line-height: 3.5rem;min-width: 88px;color: transparent;transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;border-radius: 2px;overflow: hidden;background-color: rgb(153, 153, 153);text-align: center;border-bottom: 1px solid #eef5ff !important;}
.music-body .upload-music-container .uploaded-mus-med-lib-container .uploaded-music i{vertical-align: middle; margin-left: 12px; margin-right: 0px; font-size: 2rem; color: rgb(84, 95, 126);}
.music-body .upload-music-container .uploaded-mus-med-lib-container .uploaded-music .labelText{position: relative; padding-left: 8px; padding-right: 16px; vertical-align: middle; letter-spacing: 0px; text-transform: none; font-weight: 500; font-size: 14px; display: inline-block;}
.music-body .upload-music-container .uploaded-mus-med-lib-container .uploaded-music .labelText .music-folder-name{font-weight: 300; font-size: 1rem; color: rgb(84, 95, 126); display: inline-block; text-transform: initial;}
.music-body .upload-music-container .uploaded-mus-med-lib-container .uploaded-music.active i{color: rgb(56, 125, 255);}
.music-body .upload-music-container .uploaded-mus-med-lib-container .uploaded-music.active .labelText{color: rgb(56, 125, 255);}

.music-genre-title {display: flex;align-items: center;justify-content: space-between;padding: 7.5px 15px;background-color: #eef5ff;}

.radio {margin-right: 5px;}
.radios {display: flex;align-items: center;padding: 6px 15px;margin: 0;position:relative;}
.radio input[type="radio"] {position: absolute;opacity: 0;}
.radios input[type="radio"] + .radio-labels:before {content: '';background: #ffffff;background-color: rgb(255, 255, 255);border-radius: 100%;border: 1px solid #5690ff;display: inline-block;width: 20px;height: 20px;position: relative;vertical-align: top;cursor: pointer;text-align: center;transition: all 250ms ease;}
.radio label {position:relative;cursor: pointer;}
.radios input[type="radio"] + .radio-labels:after{display:none;}
.radios input[type="radio"]:checked + .radio-labels:before {background-color: #387dff;box-shadow: inset 0 0 0 4px #ffffff;}
.radios > span {margin-left: 15px;}
.radios .music-folder-name {font-weight: 300;font-size: 1rem;color: rgb(84, 95, 126);display: inline-block;text-transform: capitalize;}


.preloader-wrap {width: 100%;height: 100%;position: fixed;top: 0; bottom: 0;background: rgba(255,255,255,1);z-index : 9999; }
.percentage {z-index: 100;border: 1px solid #ccc;text-align:center;color: #fff;line-height: 30px;font-size : 15px;}

.loader,
.percentage{height: 30px;max-width: 500px; border: 2px solid #667BDE;border-radius: 20px;font-weight: 300;position: absolute; top: 60px; bottom: 0; left: 0; right: 0;margin : auto; color: #000;}
.loader:after,
.percentage:after {content: "";display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.trackbar {width: 100%;height: 100%;border-radius: 20px;color: #fff;text-align: center;line-height: 30px;overflow: hidden;position: relative;opacity: 0.99;}
.loadbar {width: 0%;height: 100%;background: repeating-linear-gradient(45deg, #667bde, #667bde 10px, #667BDE 10px,#fff 20px); /* Stripes Background Gradient */box-shadow: 0px 0px 14px 1px #667bde; position: absolute;top: 0;left: 0;animation: flicker 5s infinite;overflow: hidden;}
.glow {width: 0%;height: 0%;border-radius: 20px;box-shadow: 0px 0px 60px 10px #667bde;position: absolute;bottom: -5px;animation: animation 5s infinite;}
@keyframes animation {
  10% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.86;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.75;
  }
}


/*--------------------------------------------
	1.9. slick arrow
---------------------------------------------------*/
.slick-prev, .slick-next {display: block;width: 38px;height: 38px;background:#79a8ff;box-shadow:0px 0px 8px rgba(0,0,0,0.08);transition:all 0.3s ease 0s;}
.slick-prev:hover, .slick-next:hover{background:#2b3864;}
.slick-prev:focus, .slick-next:focus{background:#2b3864;}
.slick-prev:hover:before, .slick-next:hover:before{color:#79a8ff;}
.slick-prev:focus:before, .slick-next:focus:before{color:#79a8ff;}
.slick-prev {left: 0px;}
.slick-next {right: 0px;}
.slick-prev:before, .slick-next:before {font-family: 'FontAwesome';font-size: 25px;color:#ffffff;transition:all 0.3s ease 0s;opacity: 1;}
.slick-prev:before{content:"\f104";}
.slick-next:before{content:"\f105";}

.slick-dots{bottom:-50px;}
.slick-dots li{width: 15px;height: 15px;}
.slick-dots li.slick-active{position: relative;display: inline-block;width: 15px;height: 15px;}
.slick-dots li button{width: 15px;height: 15px;padding: 0px;position:relative;}
.slick-dots li button:before{font-size: 15px; color:#2b3864;opacity:1;border-radius:50%;}
.slick-dots li.slick-active button:before{opacity: 1;color: #79a8ff;}

.item-slide{padding:7px 7px;}
.slider-for .slick-prev, .slider-for .slick-next {top: 105%;}
.flex-list.slick-current .screens_effect{opacity: 0.6;visibility: visible;position: absolute;top: 0;height: 100%;width: 100%;z-index: 2;background: none;border: 2px solid #13bb18;}

/* Music */
.video-audio-track-header{background: #fafafa;min-height: 44px;padding: 1rem 1rem 1rem 4rem;display: flex;align-items: center;justify-content: space-between;transition: .2s;box-shadow: rgba(0,0,0,.1) 0 0 0 1px;position: relative;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);}
.video-audio-track{background: #fff;min-height: 44px;padding: 1rem 1rem 1rem 4rem;display: flex;align-items: center;justify-content: space-between;transition: .2s;box-shadow: rgba(0,0,0,.1) 0 0 0 1px;position: relative;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);}
.video-audio-track {width: 100%;}
.video-audio-icon{left: 0;top: 0;height: 100%;width: 3rem;position: absolute;border-right: #eaebec solid 1px;}
.video-audio-icon i{top: 50%;left: 50%;transform: translate(-50%,-50%);width: 1.25rem;height: 1.25rem;position: absolute;font-size:18px;color:#667bde;}
.video-audio-track-name{position: relative;z-index: 3;margin-right: 1rem;color:#575757;max-width: 260px;width: 260px;overflow: hidden;white-space: nowrap;}
.video-audio-track-genre{max-width:185px;width:185px;position: relative;z-index: 3;color:#2c2c2c;margin-right: 1rem;}
.video-audio-track-player{display: flex;align-items: center;max-width: 180px;width: 180px;}
.video-audio-track-player .progress{max-width: 120px;width: 120px;margin:0px;margin-right: 1rem;}
.video-audio-track-none-play, .video-audio-track-play {margin-right: 0.5rem;line-height: 0;vertical-align: middle;}
.video-audio-track-play {background: #eaebec;border-radius: 50%;padding: .25rem;opacity: .5;width: 2.25rem;height: 2.25rem;display: flex;align-items: center;justify-content: center;transition: .2s;position: relative;z-index: 3;color: inherit;border: 0;cursor: pointer;}
.video-audio-track-playicon{width: 75%;height: 75%;transition: .2s;fill: currentColor;}
.playing .video-audio-track-play, .video-audio-track-play:hover {transform: scale(1.15);opacity: 1;background: #fff;box-shadow: inset currentColor 0 0 0 2px;color: #667bde;}
.video-audio-track:hover .video-audio-track-play, .video-audio-track:hover .video-audio-track-Select {opacity: 1;}
svg {vertical-align: middle;}

.video-audio-track-add{max-width:50px;width:50px;}
.video-audio-track-add .audio-add-btn{border: 0; box-sizing: border-box; display: inline-block;cursor: pointer; text-decoration: none; margin: 0px; padding: 0px; outline: currentcolor none medium; font-size: inherit; font-weight: inherit; position: relative; width: 36px;height: 36px; line-height: 36px; color: transparent; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; border-radius: 50px; overflow: hidden; background-color: rgb(102, 123, 222); text-align: center;}
.video-audio-track-add .audio-add-btn i{vertical-align: middle; margin-left: 0px; margin-right: 0px; font-size: 1rem; color: white;}
.video-audio-track-add .audio-add-btn:hover{transform: scale(1.15);opacity: 1;background: #fff;box-shadow: inset currentColor 0 0 0 2px;color: #667bde;}
.video-audio-track-add .audio-add-btn:hover i{color: #667bde;}

.wrapping-div {
	opacity: 0;
	display: block;
	position: absolute;
	cursor: pointer;
}
.wrapping-div-content .text-area-value {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 6px; }
/*.wrapping-div:hover {
box-shadow: 0px 0px 1px 4px #387dff;
background: rgba(255, 255, 255, 0.55) none repeat scroll 0% 0%;
-webkit-animation: pulsate 0.7s ease-out;
-webkit-animation-iteration-count: 2;
opacity: 1; }*/
.slect_textbox{text-align:center;font-size: 25px;color: #000;padding: 25px;background: #fff;height: 83px;}
.slect_textbox_black{text-align:center;font-size: 25px;color: #fff;padding: 25px;background: #000;height: 83px;}
/* .modal-dialog-centered {position:relative;transform:translateY(-50%) !important;top:50% !important;}
 */
.dataTables_wrapper .dataTables_filter {
    padding-right: 0px !important;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_info {
    padding-left: 0px !important;
}
.odd td{padding:5px !important;border:none !important;}
.even td{padding:5px !important;border:none !important;}
.dataTables_wrapper .dataTables_filter input, .dataTables_wrapper .dataTables_length select { height: 40px !important;}
.item{padding: 40px !important;}
.no-sort::after { display: none!important; }

.no-sort { pointer-events: none!important; cursor: default!important; }

.VideoPreviewRender > :first-child, .VideoPreviewRenderFailed > :first-child, .VideoPreviewStart > :first-child {
    margin-top: 0;
}
.VideoPreviewRender > :last-child {
    margin-bottom: 0;
}
.VideoPreviewRendering {
    width: 100%;
    min-height: 24rem;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
    border-radius: 4px;
}
.VideoPreviewRendering__Headings {
    position: relative;
    height: 4rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}
.VideoPreviewRendering__Headings, .VideoPreviewRendering__Progress {
    width: 80%;
}
.VideoPreviewRender, .VideoPreviewStart {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1),rgba(0,0,0,.15) 0 1px 2px,rgba(0,0,0,.05) 0 0 0 1px;
    background: #fff;
}
.VideoPreviewRender {
    margin-bottom: 1.5rem;
    border-radius: 4px;
    padding: 0;
    overflow: hidden;
    transform: translate3d(0,0,0);
}
.VideoPreviewRendering__Progress {
 max-width:100%;
 margin-bottom:2rem
}
.UIProgress {
 position:relative;
 display:block
}
.UIProgress__Track {
 display:block;
 position:relative;
 height:1.5rem;
 background:rgba(0,0,0,.125);
 border-radius:3px
}
.UIProgress__Value {
 left:0;
 top:0;
 width:100%;
 height:100%;
 position:absolute;
 border-radius:3px;
 background-color:#667bde;
 background-image:url(progress-bg-3bb80a582d8e7c400b29aecd053e509b.png);
 background-repeat:repeat;
 background-size:24px 16px;
 overflow:hidden;
 transition:width .25s;
 animation:progress-animation 2.5s infinite linear;
 width: 100%;
background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
background-size: 40px 40px;
-webkit-animation: progress-bar-stripes 2s linear infinite;
}
.is-current{font-size:24px;text-align:center;}